<div class="">
    <div class="row row-cards-pf" ng-init="start()">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label>Groups</label>
            fghgh
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label>Gruppe</label>
            fghgh
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label>Main</label>
            fghgh
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label>Main</label>
            fghgh
        </div>
    </div>
</div>
