<div class="login-background">

</div>

<span id="badge" ng-init="initLoginCredentials()">
  <img src="bower_components/patternfly/dist/img/OpenShift-Logo-NoText.svg" height="200px" alt=" OpenShift Logo" />
</span>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="brand">
                <img src="assets/img/oscp_roles_gui_logo.png" alt="OpenShift Roles GUI">
            </div><!--/#brand-->
        </div><!--/.col-*-->
        <div class="alert alert-danger" ng-show="errorMessage">
            <span class="pficon pficon-error-circle-o"></span>
            <strong>Hey there is a problem!</strong> {{ errorMessage }}</a>.
        </div>
        <div class="col-sm-7 col-md-6 col-lg-5 login">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="inputUsername" class="col-sm-2 col-md-2 control-label">Username</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control" id="inputUsername" placeholder="" tabindex="1" ng-model="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 col-md-2 control-label">Password</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="" tabindex="2" ng-model="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputHostname" class="col-sm-2 col-md-2 control-label">Hostname</label>
                    <div class="col-sm-10 col-md-10">
                        <input type="text" class="form-control" id="inputHostname" placeholder="oscp-cluster.example.com:8443" tabindex="2" ng-model="hostname">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" tabindex="3" ng-model="remember"> Remember username and hostname
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 submit">
                        <button type="submit" class="btn btn-primary btn-lg" tabindex="4" ng-click="login()">Log In</button>
                    </div>
                </div>
            </form>
        </div><!--/.col-*-->
        <div class="col-sm-5 col-md-6 col-lg-7 details">
            <p><strong>Welcome to OSCP Roles UI | An Interface to manage OpenShift roles</strong>
            <p>For further information please take a look at <a href="https://github.com/Sifa91/openshift-roles-gui" target="_blank">https://github.com/Sifa91/openshift-roles-gui</a>
        </div><!--/.col-*-->
    </div><!--/.row-->
</div><!--/.container-->
