<div class="">
    <div class="row row-cards-pf" ng-init="start()">
        <div class="col-xs-12 col-sm-6 col-md-3" ng-show="notloggedIn">
            <div class="alert alert-warning">
                <span class="pficon pficon-warning-triangle-o"></span>
                <strong>Not logged in!</strong> You won't see any information, before <a href="#/" class="alert-link">loggin in</a>.
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <label>Main aa</label>
            fghgh
        </div>
    </div>
</div>
