<div class="row toolbar-pf">
    <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="toolbar-pf-action-right">
                <div class="form-group toolbar-pf-view-selector">
                    <button class="btn btn-link " ng-click="refresh()" data-toggle="modal" data-target="#myModal"><i class="fa fa-refresh"></i></button>
                </div>
            </div>
    </div>
</div>
<div class="container-fluid container-cards-pf">
    <div class="row row-cards-pf" ng-init="start()" ng-show="notloggedIn">
            <div class="alert alert-warning">
                <span class="pficon pficon-warning-triangle-o"></span>
                <strong>Not logged in!</strong> You won't see any information, before <a href="#/" class="alert-link">loggin in</a>.
            </div>
    </div>
    <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-show="groupCount">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                <h2 class="card-pf-title">
                    <span class="fa pficon-project"></span>
                    <span class="card-pf-aggregate-status-count">{{ groupCount }}</span> Groups
                </h2>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3" ng-show="userCount">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                <h2 class="card-pf-title">
                    <span class="fa pficon-user"></span>
                    <span class="card-pf-aggregate-status-count">{{ userCount }}</span> User
                </h2>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3" ng-show="policybindingCount">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                <h2 class="card-pf-title">
                    <span class="fa pficon-topology"></span>
                    <span class="card-pf-aggregate-status-count">{{ policybindingCount }}</span> Bindings
                </h2>
            </div>
        </div>
    </div>
    <div class="row row-cards-pf">
        <div class="col-xs-6 col-sm-4 col-md-3" ng-show="clusterpolicybindingsCount">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                <h2 class="card-pf-title">
                    <span class="fa pficon-project"></span>
                    <span class="card-pf-aggregate-status-count">{{ clusterpolicybindingsCount }}</span> ClusterBindings
                </h2>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3" ng-show="clusterRoleCount">
            <div class="card-pf card-pf-accented card-pf-aggregate-status card-pf-aggregate-status-mini">
                <h2 class="card-pf-title">
                    <span class="fa pficon-edit"></span>
                    <span class="card-pf-aggregate-status-count">{{ clusterRoleCount }}</span> ClusterRoles
                </h2>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        // matchHeight the contents of each .card-pf and then the .card-pf itself
        $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();
        // initialize tooltips
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="spinner spinner-inverse"></div>
        </div>
    </div>
</div>