<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">
            <img src="assets/img/oscproles.png" alt="OpenShift Container Plattform - Role Management"/>
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        <ul class="nav navbar-nav navbar-utility">

            <li>
                <a href="{{ hostname }}" target="_blank">

                    <span class="pficon pficon-cluster"></span> {{ hostname }}
                </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="pficon pficon-user"></span>
                    {{ loginInfo.getUserName() }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">

                    <li style="padding: 7px;">
                        <span class="pficon pficon-info"></span> Your OAuthToken:<br/>
                        {{ loginInfo.getUserToken() }}
                    </li>
                    <li>
                        <a href="#" ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-primary">
            <li ng-repeat="link in primaryMenu" ng-class="isActive('/'+link.href )" >
                <a href="#/{{ link.href }}"> {{ link.name }}</a>
            </li>


        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown()
    });
</script>