<nav class="navbar navbar-pf-vertical">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
            <img class="navbar-brand-name"
                 src="assets/img/oscproles.png" alt="OpenShift Container Plattform - Role Management" />
        </a>
    </div>
    <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right navbar-iconic">
            <li class="dropdown">
                <a class="dropdown-toggle nav-item-iconic" id="information" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span title="Information" class="fa pficon-info"></span>
                </a>
                <div class="dropdown-menu infotip bottom-right">
                    <div class="arrow"></div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="i pficon pficon-cluster"></span> OSCP URL: {{ loginInfo.getHostname() }}
                        </li>
                        <li class="list-group-item">
                            <span class="i fa fa-lock"></span> OAuthToken: {{ loginInfo.getUserToken() }}
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-item-iconic" id="useraction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span title="Username" class="fa pficon-user"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href="#" ng-click="logout()"><span class="fa fa-power-off"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</nav> <!--/.navbar-->


<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus">
    <ul class="list-group">
        <li class="list-group-item active">
            <a href="#/main">
                <span class="fa fa-tachometer" data-toggle="tooltip" title="Dashboard"></span>
                <span class="list-group-item-value">Dashboard</span>
            </a>
        </li>
        <li class="list-group-item  secondary-nav-item-pf" data-target="#ipsum-secondary">
            <a>
                <span class="fa pficon-cluster" data-toggle="tooltip" title="ClusterRoles"></span>
                <span class="list-group-item-value">Cluster Roles</span>
            </a>
            <div id="-secondary" class="nav-pf-secondary-nav">
                <div class="nav-item-pf-header">
                    <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                    <span>Cluster Roles</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" data-target="#ClusterRoles-Overview-tertiary">
                        <a>
                            <span class="list-group-item-value">Overview</span>
                        </a>

                    </li>
                    <li class="list-group-item" data-target="#ClusterRoles-Bindings-tertiary">
                        <a>
                            <span class="list-group-item-value">Bindings</span>
                        </a>

                    </li>
                </ul>
            </div>
        </li>
        <li class="list-group-item secondary-nav-item-pf" data-target="#ipsum-secondary">
            <a>
                <span class="fa pficon-container-node" data-toggle="tooltip" title="LocalRoles"></span>
                <span class="list-group-item-value">Local Roles</span>
            </a>
            <div id="-secondary" class="nav-pf-secondary-nav">
                <div class="nav-item-pf-header">
                    <a class="secondary-collapse-toggle-pf" data-toggle="collapse-secondary-nav"></a>
                    <span>Local Roles</span>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" data-target="#LocalRoles-Overview-tertiary">
                        <a>
                            <span class="list-group-item-value">Overview</span>
                        </a>

                    </li>
                    <li class="list-group-item " data-target="#LocalRoles-Bindings-tertiary">
                        <a>
                            <span class="list-group-item-value">Bindings</span>
                        </a>

                    </li>
                </ul>
            </div>
        </li>
        <li class="list-group-item">
            <a href="#/groups">
                <span class="fa pficon-project" data-toggle="tooltip" title="Groups"></span>
                <span class="list-group-item-value">Groups</span>
            </a>
        </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        // matchHeight the contents of each .card-pf and then the .card-pf itself
        $(".row-cards-pf > [class*='col'] > .card-pf .card-pf-title").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-body").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf > .card-pf-footer").matchHeight();
        $(".row-cards-pf > [class*='col'] > .card-pf").matchHeight();

        // Initialize the vertical navigation
        $().setupVerticalNavigation(true);
    });
</script>
